/*------------------------------------------
  SETUP                   
/------------------------------------------*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 10px;
  font-weight: 600;
  font-family: Cookie, sans-serif;
}

img {
  display: block;
  width: 450px;
  margin-bottom: 0;
}

header {
  background-color: #ccc;
  border-bottom: 2px solid #bbb;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

/* Overlay */
.overlay p {
  text-align: center;
  font-size: 120px;
  margin: 0;
  line-height: 257px;
  color: white;
}

.overlay-wrapper {
  width: 450px;
  height: 300px;
  margin: 100px auto;
  position: relative;
}

.overlay {
  width: 450px;
  height: 300px;
  background-color: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
}